In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('IMDB Dataset.csv')
df['label'] = df.sentiment.apply(lambda x: 1 if x == 'positive' else 0 )

############################################
# Reducing the size of the dataset to make it more manageable (reduce computation times while developing)
# Comment code when model is ready.
df = df[:5000]
############################################

df.head(20)

                                               review sentiment  label
0   One of the other reviewers has mentioned that ...  positive      1
1   A wonderful little production. <br /><br />The...  positive      1
2   I thought this was a wonderful way to spend ti...  positive      1
3   Basically there's a family where a little boy ...  negative      0
4   Petter Mattei's "Love in the Time of Money" is...  positive      1
5   Probably my all-time favorite movie, a story o...  positive      1
6   I sure would like to see a resurrection of a u...  positive      1
7   This show was an amazing, fresh & innovative i...  negative      0
8   Encouraged by the positive comments about this...  negative      0
9   If you like original gut wrenching laughter yo...  positive      1
10  Phil the Alien is one of those quirky films wh...  negative      0
11  I saw this movie when I was about 12 when it c...  negative      0
12  So im not a big fan of Boll's work but then ag...  negative      0
13  The cast played Shakespeare.<br /><br />Shakes...  negative      0
14  This a fantastic movie of three prisoners who ...  positive      1
15  Kind of drawn in by the erotic scenes, only to...  negative      0
16  Some films just simply should not be remade. T...  positive      1
17  This movie made it into one of my top 10 most ...  negative      0
18  I remember this film,it was the first film i h...  positive      1
19  An awful film! It must have been up against so...  negative      0

In [3]:
from sklearn.model_selection import train_test_split
X_train_raw, X_test_raw, y_train, y_test = train_test_split(df.review, df.label, test_size=0.30)

In [4]:
import nltk
nltk.download('stem')

[nltk_data] Error loading stem: Package 'stem' not found in index

False

### Token Exploration

In [5]:
from nltk.stem.snowball import SnowballStemmer

stemmer = SnowballStemmer('english')

def preprocess_document(doc):
    ############################################
    #
    # ... do some of our pe processing steps here

    
    # 1.) Tokenize documents (can you find any better tokenization methods?)
    
    tokens = doc.split(' ')
    
    # 2.) stem tokens
    stemmed_tokens = [stemmer.stem(x) for x in tokens]
    return ' '.join(stemmed_tokens)

### Test your tokenizer / stemmer
preprocess_document('i went running after the dogs')

'i went run after the dog'

In [6]:
X_train_preprocessed = [preprocess_document(doc) for doc in X_train_raw]
X_test_preprocessed = [preprocess_document(doc) for doc in X_test_raw]

### Pre-processing

https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html

In [7]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/aw/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [8]:
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english')) 

cv = CountVectorizer(
    stop_words=stop_words,
    min_df = 0.01,
    max_df=0.9,
    ngram_range=(1,2),
)
cv.fit(X_train_preprocessed)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=0.9, max_features=None, min_df=0.01,
                ngram_range=(1, 2), preprocessor=None,
                stop_words={'a', 'about', 'above', 'after', 'again', 'against',
                            'ain', 'all', 'am', 'an', 'and', 'any', 'are',
                            'aren', "aren't", 'as', 'at', 'be', 'because',
                            'been', 'before', 'being', 'below', 'between',
                            'both', 'but', 'by', 'can', 'couldn', "couldn't", ...},
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [9]:
X_train = cv.transform(X_train_preprocessed)
X_test = cv.transform(X_test_preprocessed)

In [10]:
pd.DataFrame(list(zip(cv.get_feature_names(), X_train.sum(axis=0).tolist()[0])), columns=['token', 'records']).sort_values('records', ascending=False).head(50)

        token  records
201        br    14107
205     br br     7061
592      film     6240
1021     movi     5189
1102      one     3742
900      like     3010
694      good     2099
947      make     2046
677       get     1982
1608     time     1942
1371      see     1939
1675     veri     1892
1705    watch     1875
1036    movie     1762
515      even     1759
1767    would     1753
1718     well     1541
1264   realli     1509
1111     onli     1470
273   charact     1449
925      look     1360
135       bad     1356
1505    stori     1337
1041     much     1332
1413     show     1305
152    becaus     1269
1351    scene     1261
687        go     1260
617     first     1232
708     great     1230
68       also     1224
1173     play     1170
934      love     1167
1591    think     1165
940      made     1115
491       end     1108
1712      way     1099
1151    peopl     1051
79        ani     1050
1588    thing     1030
353     could     1008
863      know     1000
1348      say      968
1178     plot      966
1376     seem      959
1060    never      955
1756     work      952
32        act      945
1553     take      934
314      come      927

### Choose a model

In [11]:
### model.fit(X_train, y_train) ...

### Evaluate Results

In [12]:
### model.score(X_test, y_test) ...

### How quick NLP can be...

Though this hides the complexity in data preparation and preprocessing 
and will ultimately result in a poor model...

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [14]:
df = pd.read_csv('IMDB Dataset.csv')[:10000]

X_train, X_test, y_train, y_test = train_test_split(df.review, 
                                                    df.sentiment.apply(lambda x: 1 if x == 'positive' else 0 ),
                                                    test_size=0.30)

pipeline = Pipeline(steps=[
    ('Vectorizer', CountVectorizer(stop_words='english', min_df=0.01, max_df=0.9, ngram_range=(1,2))),
    ('Classifier', LogisticRegression(solver='newton-cg'))
]).fit(X_train, y_train)

pipeline.score(X_test, y_test)

0.83

In [15]:
pd.DataFrame(sorted(list(zip(pipeline.steps[0][1].get_feature_names(), pipeline.steps[1][1].coef_[0])), key=lambda x: x[1]), columns=['token','coef'])

                 token      coef
0                waste -2.730121
1                worst -2.272885
2                awful -2.229865
3             horrible -2.087792
4                 dull -1.898557
...                ...       ...
1705          majority  1.650930
1706        relatively  1.659873
1707  highly recommend  1.754110
1708            scared  1.794619
1709         perfectly  1.945886

[1710 rows x 2 columns]